{% extends 'CoreBundle::main.html.twig' %}

{% block level_scripts %}

{% endblock %}

{% block content %}
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-lg-12">
            <a href="{{ path('ad_new') }}" class="btn btn-success">Добавить услугу</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            {{ include('@Ad/Sale/block/menu.html.twig') }}
        </div>
        <div class="col-lg-10">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        Статистика
                    </div>
                </div>
                <div class="portlet-body">

                </div>
            </div>
        </div>
    </div>
{% endblock %}

