{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="alert alert-info">
    <button class="close" data-close="alert"></button>
    <span>{{ 'resetting.password_already_requested'|trans }}</span>
</div>
<div class="form-actions">
    <a href="{{ path('fos_user_security_login') }}" id="register-back-btn" class="btn btn-default">Назад</a>
</div>
{% endblock fos_user_content %}
