<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
    <a href="{{ path('ad_order_sale') }}" class="btn btn-default">Управление заказами</a>
    <a href="{{ path('ad_order_sale_stat') }}" class="btn btn-default">Статика</a>
    <a href="{{ path('ad_order_sale_services') }}" class="btn btn-default">Мои Услуги</a>
    <a href="{{ path('ad_order_sale_finances') }}" class="btn btn-default">Финансы</a>
</div>