<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Написать сообщение</h4>
</div>
<form id="createDialogForm" method="post" id="" action="{{ path('msg_create_dialog', {'recipient': recipient.id}) }}">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <h4>Сообщение</h4>
                <div class="form-group">
                    Получатель: <b>{{ recipient.username }}</b>
                </div>
                <div class="form-group">
                    <textarea name="message" id="" cols="30" rows="7" class="form-control"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn default" data-dismiss="modal">Отмена</button>
        <button type="submit" class="btn blue">Отправить сообщение</button>
    </div>
</form>
<script>
    $('#createDialogForm').ajaxForm({
        dataTape: 'json',
        success: function () {
            $('#ajax-modal').modal('hide');
        }
    });
</script>